@model ContainerManagementSystem.Models.Booking

@{
    ViewData["Title"] = "Create booking";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CargoWeightInKilograms" class="control-label"></label>
                <input asp-for="CargoWeightInKilograms" class="form-control" />
                <span asp-validation-for="CargoWeightInKilograms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfContainers" class="control-label"></label>
                <input asp-for="NumberOfContainers" class="form-control" />
                <span asp-validation-for="NumberOfContainers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShippingScheduleId" class="control-label"></label>
                <select asp-for="ShippingScheduleId" class ="form-control" asp-items="ViewBag.ShippingScheduleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
