body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    min-height: calc(100vh - 70px);
    flex-direction: column;
}

.body-content > main {
    flex: 1;
}

.navbar-logo {
    width: 100px;
    height: auto;
}

.logo {
    width: 400px;
    height: auto;
    padding: 20px 0;
}

.smaller {
    font-size: xx-small;
}
