@{
    ViewData["Title"] = "Home";
}

<br />
<br />

<div class="jumbotron">
    <img src="~/images/logo.svg" alt="Logo" class="logo" />
    <h1>Container management system</h1>
    <p>Manage customers, vessels, shipping schedules, and bookings</p>
    <p><a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="About">Learn more</a></p>
</div>
